# Folders
libs/
t3d-example/Debug/
t3d-example/Release/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio stuff
*.sdf
*.opensdf
*.suo
*.vcxproj.filters
*.vcxproj.user